/* HERO IMAGE & STUFF SECTION STARTS*/
.hero-image {
  background-image: url("hero-image.jpeg");
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1; 
}

.hero-text {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-family: Georgia, serif;
}

.hero-title{
    font-family: Palatino, Palatino Linotype; 
    font-size: 50px;
    vertical-align: middle;
    position: relative;
}

    /*Hero image button */
.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: #ffffff;
  background-color: #432314;
  text-align: center;
  cursor: pointer;
  font-family: Georgia, serif;
}

.hero-text button:hover {
  background-color: #ab9282;
  color: #ffffff;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #054d13;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* Index page  */
.index-intro {
  background-color:#e2ceaa;
  display: flex;
  direction: row;
  flex-wrap: wrap;    
}

.index-text{
  background-color:#e2ceaa;
  padding:10% 10% 20%;
  font-size:15px;
  line-height:24px;
  color:#003300;
  font-family: "Raleway", sans-serif;
  text-align: left;
   max-width:50%;
}

.img-cont{
   max-width:50%;
   position: relative;

}

.index-img{
    max-width: 100%;
    height: auto;
    display: table;
    margin: 10px;
    padding: 10px;
}


@media (max-width: 768px) {
.index-text{
    max-width:100%;
}

.img-cont{
  width: 60%;
  margin: auto;
  display: block;
}