
/* UTILITIES */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
 font-family: 'DM Serif Display', serif;
}
a {
 text-decoration: none;
}
li {
 list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 20px;
 background-color: #003300;
 color: #fff;
font-family: "Raleway", sans-serif;
}
.nav-links a {
 color: #fff;
}
/* LOGO */
.logo{
  max-width:30%;
  max-height: 30%;
  position: relative;
  top: -1px;
  left: 1px;
}

.logo-img{
    max-width: 30%;
    height: auto;
    display: table;
    margin: 0px;
    padding: 0px;
}
/* NAVBAR MENU */
.menu {
 display: flex;
 gap: 1em;
 font-size: 18px;
 z-index: 2;
}
.menu li:hover {
 background-color: #4f7a28;
 border-radius: 5px;
 transition: 0.3s ease;
}
.menu li {
 padding: 5px 14px;
}

    /*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
 display: none;
} 
/*HAMBURGER MENU*/
.hamburger {
 display: none;
 font-size: 24px;
 user-select: none;
}
    /*RESPONSIVE NAVBAR MENU ENDS*/
/* NAVBAR STYLING ENDS */

/*HERO IMAGE STYLING  */
.hero-image {
  background-image: url("hero-image2.jpeg");
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1; 
}

.hero-text {
  text-align: center;
  position: relative;
  top: 190px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 70px;
}

.hero-title{
  font-size:50px;
}

   /*Hero image button */
.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: #ffffff;
  background-color: #000000;
  text-align: center;
  cursor: pointer;
}


.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #000000;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
/*HERO IMAGE STYLING ENDS  */


/* INFO */
/* ABOUT INFO  */
.about-one {
  background-color:#e2ceaa;
  display: flex;
  direction: row;
  flex-wrap: wrap;    
}

.about-text{
  background-color:#e2ceaa;
  padding:10% 10% 20%;
  font-size:20px;
  line-height:24px;
  color:#003300;
  text-align: left;
  max-width:50%;
  font-family: "Raleway", sans-serif;
}
.intro{
  color: #669c35;
  font-size: 25px;
  font-family: 'DM Serif Display', serif;
}

.img-cont{
  max-width:50%;
  position: relative;
  top: 50%;


}

.about-img{
    max-width: 130%;
    height: auto;
    display: table;
    margin: 10px;
    padding: 10px;
}
/* INFO2 */
.about-two {
  background-color:#553d00;
  direction: row;
  flex-wrap: wrap;    
  text-align: center;
}
.question{
  text-align: center;
  font-size: 25px;
  font-family: 'DM Serif Display', serif;
}

.about-text2{
  background-color:#553d00;
  padding:10% 10% 20%;
  font-size:20px;
  line-height:24px;
  color:orange;
  text-align: center;
  max-width:100%;
  font-family: "Raleway", sans-serif;
}
	.column {
	  flex: 33.33%;
	  height: 200px;
	  padding: 10px;
	  margin: 5px;
	  text-align: center;
    color: white;
    font-family: "Raleway", sans-serif;
	}
.column h2{
  font-weight: 700;
}
.cont{
  display: flex;
}

.about-two button{
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  background-color: orange
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: orange;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}


/* INFO STYLING ENDS */


/* FOOTER STYLING  */
.site-footer
{
  background-color:#4f7a28;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#003300;
  font-family: "Raleway", sans-serif;
  text-align: center;
}
.site-footer hr
{
  border-top-color:#003300;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:10px;
  letter-spacing:2px
}
.site-footer a
{
  color:#003300;
}
.site-footer a:hover
{
  color:#96d35f;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#003300
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#96d35f;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
/*FOOTER STYLING ENDS  */








/* APPLYING MEDIA QUERIES */
@media (min-width: 536px) and (max-width: 1117px) {
.menu { 
 display:none;
 position: absolute;
 background-color:#003300;
 right: 0;
 left: 0;
 text-align: center;
 padding: 16px 0;
}
.menu li:hover {
 display: inline-block;
 background-color:#4f7a28;
 transition: 0.3s ease;
}
.menu li + li {
 margin-top: 12px;
}
input[type=checkbox]:checked ~ .menu{
 display: block;
}
.hamburger {
 display: block;
}

.about-text{
    max-width:100%;
}

.img-cont{
  width: 60%;
  margin: auto;
  display: block;
}
.intro{
  font-size: 20px;
}
.question{
  font-size: 20px;
}
.about-text2{
  font-size: 15px;
}
button{
  font-size: 10px;
  width: 100px;
}

}

@media (max-width: 536px){
.menu { 
 display:none;
 position: absolute;
 background-color:#003300;
 right: 0;
 left: 0;
 text-align: center;
 padding: 16px 0;
}
.menu li:hover {
 display: inline-block;
 background-color:#4f7a28;
 transition: 0.3s ease;
}
.menu li + li {
 margin-top: 12px;
}
input[type=checkbox]:checked ~ .menu{
 display: block;
}
.hamburger {
 display: block;
}
.hero-text{
  font-size: 40px;
}
.about-text{
    max-width:100%;
}

.img-cont{
  width: 60%;
  margin: auto;
  display: block;
}
.intro{
  font-size: 15px;
}
.question{
  font-size: 15px;
}
.about-text2{
  font-size: 10px;
}
.hero-text button{
  text-align: center;
  margin: auto;
  font-size: 10px;
  width: 100px;
}

}